.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0px 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo--footer-logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  color: var(--footer-color);
}
