.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list__item:last-child {
  margin-left: 50px;
}

.contact-list__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  justify-content: center;

  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--hover-focus-color);
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: var(--main-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .contact-list__link:hover &,
  .contact-list__link:focus & {
    fill: var(--hover-focus-color);
  }
}
