.hero {
  max-width: 1600px;
  background-color: var(--secondary-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpeg);
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__container {
  padding: 200px 0px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* Hero button */

.hero__button {
  font-family: inherit;
  background: var(--button-color);
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  border-style: none;
  border-radius: 4px;
}
